body{
    font-family:apple-system, BlinkMacSystemFont, 'Segoe UI', Georgia, 'Times New Roman', Times, serif;
} 
.navbar{
    background-color: rgb(51, 139, 51);
    color: oldlace;
}
.nav-link {
color: white;
font-size: 26px;
}
h1{
    text-align: center;
    color:rgb(134, 90, 32);
    margin-top:0.5cm;
    font-size:65px;
}
ul li{
    text-align: right;
    display: inline-block;
}
h2{
    color: rgb(134, 90, 32);
    text-align: center;
    padding-bottom: 5px;
    font-size: 50px;
}
.container-fluid{
    text-align: center;
}
#about{
    margin-top: 10px;
    font-size: 40px;
    color:rgb(134, 90, 32);
}
.card{
    border-width: 10px;
    border-radius: 2rem;
}
#contact{
    margin-top: 10px;
    font-size: 20px;
    color: rgb(134, 90, 32);

}
h3{
    color:rgb(134, 90, 32);
}
.hline { 
    width:100%;
    height:5px;
    color: rgb(109, 67, 12);
    background:rgb(134, 90, 32);
}
.footerr{
    color:rgb(134, 90, 32);
    padding-top: 0;
    padding-bottom: 20px;
    margin-top: 40px;

}
.navb >.nav-link:hover{
    box-shadow:0 0 0 0.625em rgba(0,0,0,0.1),insert 0 0 0.625em rgba(240, 4, 4, 0.6);
    background-color:rgba(26, 15, 15, 0.678);
    color:rgba(0,35,122,0.7);
}


  